*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container .navbar-brand{
    font-size: 25px;
    background-color: red;
}
.container .nav-item{
    font-size: 20px;
}
.copyright p{
    color: #fff;
    font-size: 20px;
    margin-top: 18px
}
.copyright .row{
    background-color: #0C0F38;
    width: 100%;
}